* {
    position: relative;
}

li{
    list-style-type: none;
}

input[type="text"] {
  display: block;
  margin: 0;
  width:100%;
  font-size: 1.4em;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
.style-4 input[type="text"] {
  background-color: #27384A;
  color: #FAFAFA;
  padding: 10px;
  border: none;
  border-bottom: solid 4px #8E2F1E;
  transition: border 0.3s;
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  border-bottom: solid 4px #D54A2F;
}
.style-4 > li > input {
  z-index: 1000;
}
-webkit-input-placeholder {
   color: #FAFAFA;
}

-moz-placeholder { /* Firefox 18- */
   color: #FAFAFA;
}

-moz-placeholder {  /* Firefox 19+ */
   color: #FAFAFA;
}

-ms-input-placeholder {
   color: #FAFAFA;
}

.btn {
  border-radius: 3px;
  color: #FAFAFA;
  font-size: 20px;
  background: #27384A;
  text-decoration: none;
  border-bottom: solid 4px #D54A2F;
}

body,html {
    margin: 0 0 0 0;
    background-color: #FAFAFA;
}

#copy {
    font-size: 1.4em;
    font-weight: normal;
    color: #FAFAFA;
    font-family: 'avenir-medium';
}

#social {
    margin-top: 90px;
    width: 100vw;
}

#icon {
    width: 30px;
    display: inline-block;
}

#badge{
  margin-bottom:30px;
}

#section1 {
    height: 100vh;
    min-height: 500px;
    background-color: #27384A;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    position: relative;
}

#section1 > a:hover, a:focus, a:visited {
  border: none !important;
  text-decoration: none !important;
  color: #FAFAFA !important;
}

#abouticon {
    width: 100px;
}

#section2 {
    background-color: #FAFAFA;
    overflow: hidden;
    z-index: 3;
    padding-left: 15px;
    padding-right: 15px;
}

#section3 {
    background-color: #FAFAFA;
    overflow: hidden;
    z-index: 3;
    padding-left: 15px;
    padding-right: 15px;
}

#shine {
  /* Rectangle 10: */
    background-image: url("../images/screen1.png");/*linear-gradient(-150deg, rgba(255,255,255,0.11) 0%,
     rgba(255,255,255,0.00) 97%);*/
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size:32px;
    text-decoration:none;
    font-family: 'avenir-medium';
    color: #fafafa;
    height: 100%;
}

#footer {
  bottom:0;
  left:0;
  margin-bottom:-50px;
  width:100%;
  position:absolute;
  z-index: 100;
}

#screenContent {
    padding-top: 17.5vh;
}

#logo {
    width: 500px;    
    margin-top: 4vh;
}

.device {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  margin-top:8vh;

  margin-left:auto;
  margin-right:auto;
  z-index: 2;
}

.marvel-device.nexus5 {
   box-shadow: 0px 0px 25px #000000;
}

#badge {
  margin-top: 26px;
}

#arrow {
  width: 32px;
  color:#FAFAFA;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  z-index: 2;
  margin-left: -16px;
}

.question {
  text-align:center;
  margin-top:50px;
  margin-right:10vw;
  margin-left:10vw;
  font-family: "avenir-medium"
}

.question > h1 {
  color:#171717;
  margin-top:10px;
}

.tripanel {
  text-align:center;
  margin-top:60px;
  margin-right:10vw;
  margin-left:10vw;
  margin-bottom:30px;
  color: #171717;
}

.tripanel > .row > .col-md-4 {
  margin-bottom:50px;
}

.tripanel > .row > .col-md-4 > h2 {
  font-family: "avenir-medium";
  color:#171717;
  margin-top:10px;
  margin-bottom:16px;
  margin-top:20px;
}

.tripanel > .row > .col-md-4 > p {
  font-family: "avenir-medium";
  font-size:1.1em;
  text-align: center;
}

#section3 > h1 {
  font-family: "avenir-medium";
  color:#171717;
  margin-top:10px;
  margin-bottom:6px;
  text-align:center;
}

#section3 > p {
  font-family: "avenir-medium";
  font-size:1.1em;
  text-align:center;
  color:#171717;
  margin-bottom:50px;
}

#section3 > .container > .row > .col-md-6 > ul {
  padding-left: 40px;
  padding-right: 40px;
}

#section3 > .container > .row > .contentContainer > form > ul > li > input {
  font-family: "avenir-medium";
  margin-bottom:20px;
}

.email {
  font-family: "avenir-medium";
  font-size: 20px;
  margin-top:-10px;
  margin-bottom:-10px;
}

#section3 > .container > .row > .contentContainer > form > ul > li > input {
    margin-bottom: 0.5em;
    border-radius: 3px;
}

#section3 > .container > .row > .contentContainer > form > ul > li > input.submit {
  display: block;
  margin: 0;
  font-family: "avenir-medium";
  margin-bottom:20px !important;
  width:100%;
  font-size: 20px;
  appearance: none;
  box-shadow: none;
  border-radius:3px;
  color: #FAFAFA;
  padding: 10px;
  border: none;
  background-color: #27384A;
}

form > ul {
  list-style:none;
  padding-left:0;
}

.fa {
  color: #FAFAFA;
}

.scl-btn-middle {
  margin-left:20px;
  margin-right:20px;
}

.contentContainer {
  position: relative;
  margin: auto;
}

@font-face {
  font-family: "avenir-regular";
  src: url(../fonts/avenir/avenir-next-regular.ttf);
}

@font-face {
  font-family: "avenir-medium";
  src: url(../fonts/avenir/avenir-next-light.ttf);
}

@font-face {
  font-family: "avenir-medium";
  src: url(../fonts/avenir/avenir-next-medium.ttf);
}

@font-face {
  font-family: "avenir-demi-bold";
  src: url(../fonts/avenir/avenir-next-demi-bold.ttf);
}

@font-face {
  font-family: "avenir-bold";
  src: url(../fonts/avenir/avenir-next-bold.ttf) format('ttf');
}

@media screen and (max-height: 555px) {
    #arrow {
      display: none;
    }
}

@media screen and (max-width: 992px) {

  .tripanel > .row > .col-md-4 > p {
    width: 442px;
    display: table;
    margin: 0 auto;
  }

  #section3 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .tripanel > .row > .col-md-4 > p {
    width: 100%;
  }
}

@media screen and (min-width: 510px) {
  .contentContainer {
    width: 510px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .device {
    display: none;
  }

  #arrow {
    display: none;
  }

  #logo {
    width: 100%;    
  }
}